.sidebar {
    flex: 0 0 250px;
    border: 1px solid black;
}

.main-content {
    flex: 1;
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}