.page-container {
  display: flex;

  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.page-header {
  font: var(--mat-sys-display-large);
  font-weight: bold;
  color: var(--mat-sys-tertiary);
  margin-bottom: 5px;
}

.account-ratings-section {
  display: flex;
  width: 100%;

  justify-content: flex-start;
  flex-direction: column;
}
