.page-container,
.form-container {
  display: flex;

  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form-header {
  font: var(--mat-sys-display-large);
  font-weight: bold;
  color: var(--mat-sys-tertiary);
}

// .bar-form-field,
.drink-form-field {
  width: 50%;
}

.ratings-section {
  display: flex;

  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
}

.image-section {
  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 15px;
}

.preview-wrapper {
  position: relative;
  width: 25%;
  // max-height: 25px;
  overflow: hidden;
  border-radius: 8px;
}

.preview-image {
  width: 100%;
  height: auto;
  display: block;
}

.remove-image-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-submit-section {
  margin-top: 20px;
}

.rating-row {
  display: flex;

  align-items: center;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  width: 50%;
}
