.dialog-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.header {
  align-self: center;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}

.header h1 {
  align-self: center;
  color: var(--mat-sys-tertiary);
}

.header h4 {
  align-self: center;
  margin-top: 0;
}

.drink-card-section {
  margin: auto;
  width: 75%;
}

.drink-card-section-headline {
  font: var(--mat-sys-headline-small);
  font-weight: bold;
}

.user-ratings-section {
  display: flex;

  align-items: center;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}

.tag-section {
  display: flex;

  align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 15px;
}
