.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 25px 50px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-header {
  font: var(--mat-sys-display-large);
  font-weight: bold;
  color: var(--mat-sys-tertiary);
}

.login-button {
  margin: 15px auto;
}

.create-account-separator {
  margin: 20px auto;
}

.login-separator {
  margin: 10px auto;
}
