.page-container {
  display: flex;

  flex-direction: column;
  width: 100%;
}

.page-header {
  align-self: center;
  font: var(--mat-sys-display-large);
  font-weight: bold;
  color: var(--mat-sys-tertiary);
}

.list-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  height: 400px;

  margin: 15px;
}

.rating {
  height: 200px;
  width: 175px;
}
