.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 25px 50px;
}

.choice-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-evenly;
}
